<section class=" mx-auto text-white z-0 bg-cover " style="background-image: url(assets/abstract-envelope.svg) ;">
    <div class=" max-w-6xl grid grid-rows-3 grid-flow-col gap-5 min-h-[70vh] mx-auto  pb-8">
        <div class=" row-start-2 row-span-2 flex flex-col">
            <h1 class="font-sans font-bold text-3xl mt-4">Merchant</h1>
            <p>With in our jorney to provide you a really helpfull system to get your vacation from
                anywhere and
                everywhere easlly</p>
            <div class="font-sans  flex items-center md:flex space-x-5">
                <a href=""
                    class="border-2 mt-5 border-darkgray-300 rounded font-bold text-darkgray-300 px-3 py-1 transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                    Login</a>
                <a routerLink="/home/Register"
                    class="border-2 mt-5 border-darkgray-300 rounded font-bold text-darkgray-300 px-3 py-1 transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                    Register</a>
            </div>
        </div>
        <div
            class=" border-[8px] row-start-1 row-end-4 col-span-2 right-0 rounded max-w-lg h-[300px] mx-auto mt-[15vh]">
            <img class=" w-full h-full rounded-[5%]" src="https://source.unsplash.com/1000x600?malaysia" alt="">
        </div>
    </div>
</section>