<section class="flex flex-col mx-auto bg-black text-white max-h-fit z-0  px-10 py-10">
    <div class="max-w-6xl mx-auto ">
        <h1 class=" text-xl font-semibold pt-[3.5rem]">Product Detail</h1>
        <div class="relative max-w-6xl mx-auto overflow-x-hidden min-h-fit mt-10">
            <div class="flex transition-transform duration-500"
                [style.transform]="'translateX(-' + promoSlideIndex * (100) + '%)'">
                <ng-container *ngFor="let images of promo">
                    <div class="flex-none w-[100%] p-4">
                        <div class="mx-auto max-w-4xl rounded overflow-hidden shadow-lg ">
                            <a class="w-full h-full block overflow-hidden">
                                <img class="w-full h-full object-cover" [src]="images.image" alt="Description" />
                            </a>
                        </div>
                    </div>
                </ng-container>
            </div>

            <button (click)="prevSlidePromo()"
                class="absolute top-1/2 left-0 -translate-y-1/2 bg-transparent hover:bg-gray-200 text-black rounded-full w-[50px] h-[50px] flex items-center justify-center text-lg">
                <img class="w-8 h-8" src="assets/prev.png" alt="">
            </button>
            <button (click)="nextSlidePromo()"
                class="absolute top-1/2 right-0 -translate-y-1/2 bg-transparent hover:bg-gray-200 text-black rounded-full w-[50px] h-[50px] flex items-center justify-center text-lg">
                <img class="w-8 h-8" src="assets/next.png" alt="">
            </button>
        </div>
    </div>
    <div *ngIf="showModal" class="fixed z-10  inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
        <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-darkgray">
            <div class="mt-3 text-center">
                <h3 class="text-2xl text-white font-semibold font-sans mb-4">Login to Your Account</h3>

                <!-- Login Form -->
                <form [formGroup]="loginForm" class="mt-8">
                    <div class="mb-4 text-left">
                        <label for="email" class="block text-sm text-white font-semibold mb-2">Email</label>
                        <input type="email" id="email" formControlName="email"
                            class="shadow-sm bg-transparent border-b-2 border-gray-300 text-sm focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                            placeholder="Enter your email">
                    </div>

                    <div class="mb-4 text-left">
                        <label for="password" class="block text-sm text-white font-semibold mb-2">Password</label>
                        <input type="password" id="password" formControlName="password"
                            class="shadow-sm bg-transparent border-b-2 border-gray-300 text-sm focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                            placeholder="Enter your password">
                    </div>

                    <div class="flex items-center justify-center space-x-4 py-3">
                        <button (click)="login() ; closeModal()"
                            class="bg-darkgreen text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-blue-300">
                            Login
                        </button>
                    </div>
                </form>

                <!-- Sign Up Link -->
                <div class="mt-2 px-7 py-3 text-sm text-gray-500">
                    Don't have an account? <a (click)="closeModalToRegister()"
                        class="text-blue-600 hover:text-blue-800">Sign
                        up</a>
                </div>

                <!-- Close Modal Button -->
                <div class="flex items-center justify-center space-x-4 py-3">
                    <button (click)="closeModal()"
                        class="bg-green-500 text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-green-300">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="product" class="max-w-6xl w-full flex flex-row side:flex-col mx-auto mt-6 gap-6 ">
        <div class="flex flex-col w-full  justify-start basis-3/4 px-4 py-4 max-h-fitbackdrop-blur rounded"
            style="background-color: rgba(126, 126, 126, 0.282);">
            <div class="flex justify-start   ">
                <h1 class=" font-sans font-bold text-5xl mt-4 ">{{product.productName}}</h1>


            </div>
            <div class="flex justify-start  gap-2 mt-6">
                <div class="flex items-center">

                    <img class="w-[15px] h-[15px]" src="assets/whitemap.png" alt="">
                </div>
                <div class="flex items-center">
                    <p class="font-light font-sans text-[12px]">{{product.location}}</p>
                </div>
            </div>
            <div class="flex justify-start  gap-2 mt-4">
                <div class="flex items-center">
                    <p class="font-light font-sans text-[15px]">{{product.productDescription}}</p>
                </div>
            </div>
            <div *ngIf="overAllReview" class="flex justify-start mt-4  gap-[2px] ">
                <div class="flex justify-start items-center ">
                    <!-- Full Stars -->
                    <ng-container *ngFor="let star of fullStars">
                        <img class="w-[15px] h-[15px]" src="assets/star.png" alt="star">
                    </ng-container>

                    <!-- Half Star -->
                    <img *ngIf="hasHalfStar" class="w-[7.5px] h-[15px]" src="assets/half-star.png" alt="half star">
                </div>

                <div class="flex items-center">
                    <p class="font-light font-sans mt-[2px] text-[12px]">| ({{overAllReview.numberOfRatings}}) Reviews
                    </p>
                </div>

            </div>

        </div>
        <div class=" basis-2/4 ">
            <div class="flex-col w-full max-h-fit basis-2/4 px-4 py-4 backdrop-blur rounded"
                style="background-color: rgba(126, 126, 126, 0.282);">
                <div class="flex justify-start  mx-auto ">
                    <h1 class=" font-sans  text-2xl mt-4 ">Start from</h1>

                </div>
                <div class="flex justify-start  mx-auto ">
                    <h1 class=" font-sans  text-3xl mt-4 ">$ {{product.price}}</h1>
                </div>

                <div class=" font-sans flex items-center md:flex items-center space-x-5">
                    <button (click)="checkLoggedIn(product.productId)"
                        class="border-2 mt-6 border-darkgray-300 rounded font-sans text-white text-[20px]  px-5  transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                        BOOK NOW</button>
                </div>


                <div class="flex justify-start  gap-2 mt-4">
                    <div class="flex items-center">

                        <img class="w-[15px] h-[15px]" src="assets/whitedate.png" alt="">
                    </div>
                    <div class="flex items-center">
                        <p class="font-light font-sans text-[12px]">Available Now</p>
                    </div>
                </div>
                <div class="flex justify-start  gap-2 mt-4">
                    <div class="flex items-center">

                        <img class="w-[15px] h-[15px]" src="assets/best-price.png" alt="">
                    </div>
                    <div class="flex items-center">
                        <p class="font-light font-sans text-[12px]">Best price</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="max-w-6xl w-full flex-col mx-auto mt-6 gap-6 ">

        <div *ngIf="!noReview" class="w-full max-h-fit backdrop-blur rounded pb-4"
            style="background-color: rgba(126, 126, 126, 0.282);">
            <div *ngIf="overAllReview" class="flex flex-col justify-start basis-4/6 px-4 py-4">
                <div class="flex justify-start   ">
                    <h1 class=" font-sans font-bold text-xl mt-4 ">Testimonial</h1>

                </div>
                <div class="flex justify-start ">
                    <p class="font-light font-sans text-[15px]">Overall reviews and ratings </p>

                </div>

                <div class=" font-sans flex items-center md:flex  space-x-2 mt-6">
                    <div class="flex border-2 rounded-full w-[40px] h-[40px]  items-center">
                        <a
                            class=" border-darkgray-300  mx-auto font-sans text-white text-[20px]  transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                            {{formatRating(overAllReview.averageRating)}}</a>
                    </div>
                    <div class="flex items-center flex-col">
                        <div class="flex justify-start items-center gap-[2px]">

                            <!-- Full Stars -->
                            <ng-container *ngFor="let star of fullStars">
                                <img class="w-[15px] h-[15px]" src="assets/star.png" alt="star">
                            </ng-container>

                            <!-- Half Star -->
                            <img *ngIf="hasHalfStar" class="w-[7.5px] h-[15px]" src="assets/half-star.png"
                                alt="half star">

                        </div>
                        <p class="font-light font-sans text-[15px]">Ratings</p>
                    </div>


                </div>


                <div class="flex justify-start  mt-4">

                    <div class="flex justify-start  gap-2 mt-4">
                        <div class="flex items-center">
                            <p class="font-light font-sans text-[15px]">Scroll down the look at the review from our
                                customer that have been enjoy our product</p>
                        </div>
                    </div>
                </div>
                <div class="flex justify-start  gap-2 mt-4">
                    <div class="flex items-center">

                        <p class="font-light font-sans text-[12px]">{{overAllReview.numberOfRatings}}</p>
                    </div>
                    <div class="flex items-center">
                        <p class="font-light font-sans text-[12px]">Reviews</p>
                    </div>
                </div>
                <br>
                <div class="w-full border-b-2">

                </div>
                <ng-container *ngFor="let card of cardsForCurrentPage">
                    <div class=" font-sans flex items-center md:flex items-center space-x-2 mt-6 ">
                        <div class="flex self-start justify-start">
                            <a href=""
                                class="border-2 bg-[url('assets/user.png')] bg-cover border-darkgray-300 rounded-full px-2 py-1  font-sans text-white w-[40px] h-[40px]  transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                            </a>
                        </div>

                        <div class="flex-1  flex-col">
                            <div class="flex justify-start gap-[2px]">
                                <div class="flex items-center">
                                    <p class="font-light font-sans text-[15px] ">{{card.fullName}}</p>
                                </div>
                            </div>
                            <div class="flex justify-start  gap-[2px] ">
                                <ng-container *ngFor="let star of [].constructor(card.rating)">
                                    <img class="w-[15px] h-[15px]" src="assets/star.png" alt="star">
                                </ng-container>
                            </div>
                            <div class="flex justify-start min-w-full gap-[2px] ">

                                <div class="w-full  flex-col mt-4 border-2 rounded p-2">
                                    <p class="px-2  font-semibold font-sans text-[15px]">{{card.reviewTitle}}</p>
                                    <p class="px-2  font-light font-sans text-[15px]">{{card.reviewDescription}}</p>

                                </div>

                            </div>

                        </div>
                    </div>
                </ng-container>
                <div class="pagination-controls flex justify-center items-center space-x-2 my-4">
                    <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l"
                        (click)="goToPrevious()" [disabled]="currentPage === 1">
                        Prev
                    </button>

                    <button *ngFor="let page of [].constructor(totalPages); let i = index"
                        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
                        (click)="goToPage(i + 1)" [class.bg-darkgray]="currentPage === i + 1">
                        {{ i + 1 }}
                    </button>

                    <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r"
                        (click)="goToNext()" [disabled]="currentPage === totalPages">
                        Next
                    </button>
                </div>

            </div>

        </div>
    </div>
</section>