<section class="flex flex-col mx-auto bg-black text-white max-h-fit z-0 pt-[5.5rem] px-10 py-10">
    <div class="max-w-6xl self-center w-full ">
        <h1 class=" text-xl font-semibold ">Order List</h1>

        <div class="max-w-6xl flex flex-col mx-auto mt-6 gap-6 ">
            <div class="flex flex-col  justify-start basis-3/4 px-4 py-4 max-h-fitbackdrop-blur rounded"
                style="background-color: rgba(126, 126, 126, 0.282);">

                <div class=" basis-2/4 ">
                    <div class="flex-col max-h-fit basis-2/4 px-4 py-4 backdrop-blur rounded"
                        style="background-color: rgba(126, 126, 126, 0.282);">

                        <h1 class=" text-xl font-semibold  mb-6">Order ID: TC12344</h1>
                        <div class="justify-start mb-4">
                            <label for="productPrice" class="block  text-sm font-semibold mb-2">Attraction</label>
                        </div>
                        <div class="justify-start flex "></div>
                        <div class="mb-4">
                            <label for="Enter Date" class="block  text-sm font-semibold mb-2">25/12/2023
                            </label>
                            <div class="border-b-2 w-[10rem]">

                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="productDescription" class="block  text-sm font-semibold mb-2">Scooter
                                Rider</label>

                        </div>


                        <div class="flex justify-end gap-3">
                            <button routerLink="/Give-Review" type="save"
                                class="bg-darkgreen text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-blue-300">
                                Review
                            </button>
                            <button routerLink="/Product-Manage" type="save"
                                class="bg-darkgreen text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-blue-300">
                                Download Reciept
                            </button>
                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="max-w-6xl flex flex-col mx-auto mt-6 gap-6 ">
            <div class="flex flex-col  justify-start basis-3/4 px-4 py-4 max-h-fitbackdrop-blur rounded"
                style="background-color: rgba(126, 126, 126, 0.282);">

                <div class=" basis-2/4 ">
                    <div class="flex-col max-h-fit basis-2/4 px-4 py-4 backdrop-blur rounded"
                        style="background-color: rgba(126, 126, 126, 0.282);">

                        <h1 class=" text-xl font-semibold  mb-6">Order ID: TC125478</h1>
                        <div class="justify-start mb-4">
                            <label for="productPrice" class="block  text-sm font-semibold mb-2">Attraction</label>
                        </div>
                        <div class="justify-start flex "></div>
                        <div class="mb-4">
                            <label for="Enter Date" class="block  text-sm font-semibold mb-2">25/12/2023
                            </label>
                            <div class="border-b-2 w-[10rem]">

                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="productDescription" class="block  text-sm font-semibold mb-2">Scooter
                                Rider</label>

                        </div>



                        <div class="flex justify-end gap-3">
                            <button routerLink="/Give-Review" type="save"
                                class="bg-darkgreen text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-blue-300">
                                Review
                            </button>

                            <button routerLink="/Product-Manage" type="save"
                                class="bg-darkgreen text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-blue-300">
                                Download Reciept
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="max-w-6xl flex flex-col mx-auto mt-6 gap-6 ">
            <div class="flex flex-col  justify-start basis-3/4 px-4 py-4 max-h-fitbackdrop-blur rounded"
                style="background-color: rgba(126, 126, 126, 0.282);">

                <div class=" basis-2/4 ">
                    <div class="flex-col max-h-fit basis-2/4 px-4 py-4 backdrop-blur rounded"
                        style="background-color: rgba(126, 126, 126, 0.282);">

                        <h1 class=" text-xl font-semibold  mb-6">Order ID: TC12344</h1>
                        <div class="justify-start mb-4">
                            <label for="productPrice" class="block  text-sm font-semibold mb-2">Attraction</label>
                        </div>
                        <div class="justify-start flex "></div>
                        <div class="mb-4">
                            <label for="Enter Date" class="block  text-sm font-semibold mb-2">25/12/2023
                            </label>
                            <div class="border-b-2 w-[10rem]">

                            </div>
                        </div>

                        <div class="mb-4">
                            <label for="productDescription" class="block  text-sm font-semibold mb-2">Scooter
                                Rider</label>

                        </div>



                        <div class="flex justify-end gap-3">
                            <button routerLink="/Give-Review" type="save"
                                class="bg-darkgreen text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-blue-300">
                                Review
                            </button>

                            <button routerLink="/Product-Manage" type="save"
                                class="bg-darkgreen text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-blue-300">
                                Download Reciept
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>