<section class=" mx-auto text-white z-0 bg-cover " style="background-image: url(assets/abstract-envelope.svg)   ;">
    <div class="max-w-6xl mx-auto pt-[3.5rem] pb-8 bg-darkgray">
        <div class="min-w-4xl max-w-4xl mx-auto  px-5 py-10 bg-white rounded-md shadow-lg border-2 mt-8 "
            style="background-color: rgba(109, 109, 109, 0.233);">
            <h2 class="text-2xl font-semibold font-sans mb-4">Merchant Registration</h2>
            <form [formGroup]="merchantForm" (ngSubmit)="onSubmit()">
                <div class="mb-4">
                    <label for="name" class="block text-sm font-semibold mb-2">Merchant Name</label>
                    <input type="text" id="name" formControlName="name"
                        class="shadow-sm bg-transparent border-b-2 border-gray-300 text-sm focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                        placeholder="Enter merchant name">
                    <div *ngIf="merchantForm.get('name')?.touched && merchantForm.get('name')?.invalid"
                        class="text-red-600">
                        Merchant name is required.
                    </div>
                </div>

                <div class="mb-4">
                    <label for="contactNumber" class="block text-sm font-semibold mb-2">Contact Number</label>
                    <input type="tel" id="contactNumber" formControlName="contactNumber"
                        class="shadow-sm bg-transparent border-b-2 text-gray-900 text-sm focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                        placeholder="Enter contact number">
                    <div *ngIf="merchantForm.get('contactNumber')?.touched && merchantForm.get('contactNumber')?.invalid"
                        class="text-red-600">
                        Contact number is required.
                    </div>
                </div>

                <div class="mb-4">
                    <label for="email" class="block text-sm font-semibold mb-2">Email Address</label>
                    <input type="email" id="email" formControlName="email"
                        class="shadow-sm bg-transparent border-b-2 border-gray-300 text-gray-900 text-sm focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                        placeholder="Enter email address">
                    <div *ngIf="merchantForm.get('email')?.touched && merchantForm.get('email')?.invalid"
                        class="text-red-600">
                        <div *ngIf="merchantForm.get('email')?.errors?.['required']">Email is required.</div>
                        <div *ngIf="merchantForm.get('email')?.errors?.['email']">Please enter a valid email.</div>
                    </div>
                </div>

                <div class="mb-4">
                    <label for="companyDescription" class="block text-sm font-semibold mb-2">Company Description</label>
                    <textarea id="companyDescription" formControlName="companyDescription"
                        class="shadow-sm bg-transparent border-b-2 border-gray-300 text-gray-900 text-sm focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                        rows="4" placeholder="Enter company description"></textarea>
                    <div *ngIf="merchantForm.get('companyDescription')?.touched && merchantForm.get('companyDescription')?.invalid"
                        class="text-red-600">
                        Company description is required.
                    </div>
                </div>

                <div class="flex justify-end">
                    <button type="submit" [disabled]="!merchantForm.valid" class="...">Submit</button>
                </div>
            </form>


        </div>

    </div>
</section>