<p>merchant-reviews works!</p>
<div class="max-w-6xl flex flex-col mx-auto mt-6 gap-6 ">

    <div class=" flex max-h-fit backdrop-blur rounded pb-4" style="background-color: rgba(126, 126, 126, 0.282);">
        <div class="flex flex-col justify-start basis-4/6 px-4 py-4">
            <div class="flex justify-start   ">
                <h1 class=" font-sans font-bold text-xl mt-4 ">Review by the customer</h1>

            </div>
            <div class="flex justify-start ">
                <p class="font-light font-sans text-[15px]">Overall reviews and ratings </p>

            </div>

            <div class=" font-sans flex items-center md:flex items-center space-x-2 mt-6">
                <div class="flex items-center">
                    <a href=""
                        class="border-2  border-darkgray-300 rounded-full px-2 py-1  font-sans text-white text-[20px]    transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                        4.4</a>
                </div>
                <div class="flex items-center flex-col">
                    <div class="flex justify-start items-center gap-[2px]">
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>

                    </div>
                    <p class="font-light font-sans text-[15px] ">Ratings</p>
                </div>
            </div>


            <div class="flex justify-start  mt-4">

                <div class="flex justify-start  gap-2 mt-4">
                    <div class="flex items-center">
                        <p class="font-light font-sans text-[15px]">Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit.
                            Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales egestas.
                            Donec
                            duis lacus, odio velit eu eget ac tortor. Ac sit ultricies hendrerit pellentesque arcu
                            fames
                            sit
                            lectus. Scelerisque id bibendum velit cras. </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="w-full border-b-2">

            </div>
            <div class=" font-sans flex items-center md:flex items-center space-x-2 mt-6 ">
                <div class="flex self-start justify-start">
                    <a href=""
                        class="border-2 bg-[url('assets/nandika.jpg')] bg-cover border-darkgray-300 rounded-full px-2 py-1  font-sans text-white w-[40px] h-[40px]  transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                    </a>
                </div>

                <div class="flex  flex-col">
                    <div class="flex justify-start gap-[2px]">
                        <div class="flex items-center">
                            <p class="font-light font-sans text-[15px] ">Nandika</p>
                        </div>
                    </div>
                    <div class="flex justify-start  gap-[2px] ">
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>

                    </div>
                    <div class="flex justify-start min-w-full gap-[2px] ">

                        <div class="flex flex-col mt-4 border-2 rounded p-2">
                            <p class="px-2  font-semibold font-sans text-[15px]">Nice </p>
                            <p class="px-2  font-light font-sans text-[15px]">Lorem ipsum dolor sit amet,
                                consectetur
                                adipiscing
                                elit.
                                Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales
                                egestas.
                                Donec
                                duis lacus, odio velit eu eget ac tortor. . </p>

                        </div>

                    </div>

                </div>
            </div>
            <div class=" font-sans flex items-center md:flex items-center space-x-2 mt-6 ">
                <div class="flex self-start justify-start">
                    <a href=""
                        class="border-2 bg-[url('assets/rin.jpg')] bg-cover border-darkgray-300 rounded-full px-2 py-1  font-sans text-white w-[40px] h-[40px]  transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                    </a>
                </div>

                <div class="flex  flex-col">
                    <div class="flex justify-start gap-[2px]">
                        <div class="flex items-center">
                            <p class="font-light font-sans text-[15px] ">Rin Hasegawa</p>
                        </div>
                    </div>
                    <div class="flex justify-start  gap-[2px] ">
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>

                    </div>
                    <div class="flex justify-start min-w-full gap-[2px] ">

                        <div class="flex flex-col mt-4 border-2 rounded p-2">
                            <p class="px-2  font-semibold font-sans text-[15px]">Nice </p>
                            <p class="px-2  font-light font-sans text-[15px]">Lorem ipsum dolor sit amet,
                                consectetur
                                adipiscing
                                elit.
                                Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales
                                egestas.
                                Donec
                                duis lacus, odio velit eu eget ac tortor. . </p>

                        </div>

                    </div>

                </div>
            </div>
            <div class=" font-sans flex items-center md:flex items-center space-x-2 mt-6 ">
                <div class="flex self-start justify-start">
                    <a href=""
                        class="border-2 bg-[url('assets/nandika.jpg')] bg-cover border-darkgray-300 rounded-full px-2 py-1  font-sans text-white w-[40px] h-[40px]  transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                    </a>
                </div>

                <div class="flex  flex-col">
                    <div class="flex justify-start gap-[2px]">
                        <div class="flex items-center">
                            <p class="font-light font-sans text-[15px] ">Nandika</p>
                        </div>
                    </div>
                    <div class="flex justify-start  gap-[2px] ">
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>

                    </div>
                    <div class="flex justify-start min-w-full gap-[2px] ">

                        <div class="flex flex-col mt-4 border-2 rounded p-2">
                            <p class="px-2  font-semibold font-sans text-[15px]">Nice </p>
                            <p class="px-2  font-light font-sans text-[15px]">Lorem ipsum dolor sit amet,
                                consectetur
                                adipiscing
                                elit.
                                Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales
                                egestas.
                                Donec
                                duis lacus, odio velit eu eget ac tortor. . </p>

                        </div>

                    </div>

                </div>
            </div>
            <div class=" font-sans flex items-center md:flex items-center space-x-2 mt-6 ">
                <div class="flex self-start justify-start">
                    <a href=""
                        class="border-2 bg-[url('assets/nandika.jpg')] bg-cover border-darkgray-300 rounded-full px-2 py-1  font-sans text-white w-[40px] h-[40px]  transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                    </a>
                </div>

                <div class="flex  flex-col">
                    <div class="flex justify-start gap-[2px]">
                        <div class="flex items-center">
                            <p class="font-light font-sans text-[15px] ">Nandika</p>
                        </div>
                    </div>
                    <div class="flex justify-start  gap-[2px] ">
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>

                    </div>
                    <div class="flex justify-start min-w-full gap-[2px] ">

                        <div class="flex flex-col mt-4 border-2 rounded p-2">
                            <p class="px-2  font-semibold font-sans text-[15px]">Nice </p>
                            <p class="px-2  font-light font-sans text-[15px]">Lorem ipsum dolor sit amet,
                                consectetur
                                adipiscing
                                elit.
                                Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales
                                egestas.
                                Donec
                                duis lacus, odio velit eu eget ac tortor. . </p>

                        </div>

                    </div>

                </div>
            </div>
            <div class=" font-sans flex items-center md:flex items-center space-x-2 mt-6 ">
                <div class="flex self-start justify-start">
                    <a href=""
                        class="border-2 bg-[url('assets/nandika.jpg')] bg-cover border-darkgray-300 rounded-full px-2 py-1  font-sans text-white w-[40px] h-[40px]  transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                    </a>
                </div>

                <div class="flex  flex-col">
                    <div class="flex justify-start gap-[2px]">
                        <div class="flex items-center">
                            <p class="font-light font-sans text-[15px] ">Nandika</p>
                        </div>
                    </div>
                    <div class="flex justify-start  gap-[2px] ">
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>
                        <div class="flex items-center">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="">
                        </div>

                    </div>
                    <div class="flex justify-start min-w-full gap-[2px] ">

                        <div class="flex flex-col mt-4 border-2 rounded p-2">
                            <p class="px-2  font-semibold font-sans text-[15px]">Nice </p>
                            <p class="px-2  font-light font-sans text-[15px]">Lorem ipsum dolor sit amet,
                                consectetur
                                adipiscing
                                elit.
                                Blandit id fringilla turpis tempor enim. Vel tristique suspendisse eget sodales
                                egestas.
                                Donec
                                duis lacus, odio velit eu eget ac tortor. . </p>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>