<div class="max-w-6xl w-full flex-col mx-auto mt-6 gap-6 ">

    <div *ngIf="!noReview" class="w-full max-h-fit backdrop-blur rounded pb-4"
        style="background-color: rgba(126, 126, 126, 0.282);">
        <div *ngIf="overAllReview" class="flex flex-col justify-start basis-4/6 px-4 py-4">
            <div class="flex justify-start   ">
                <h1 class=" font-sans font-bold text-xl mt-4 ">Testimonial</h1>

            </div>
            <div class="flex justify-start ">
                <p class="font-light font-sans text-[15px]">Overall reviews and ratings </p>

            </div>

            <div class=" font-sans flex items-center md:flex  space-x-2 mt-6">
                <div class="flex border-2 rounded-full w-[40px] h-[40px]  items-center">
                    <a
                        class=" border-darkgray-300  mx-auto font-sans text-white text-[20px]  transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                        {{formatRating(overAllReview.averageRating)}}</a>
                </div>
                <div class="flex items-center flex-col">
                    <div class="flex justify-start items-center gap-[2px]">

                        <!-- Full Stars -->
                        <ng-container *ngFor="let star of fullStars">
                            <img class="w-[15px] h-[15px]" src="assets/star.png" alt="star">
                        </ng-container>

                        <!-- Half Star -->
                        <img *ngIf="hasHalfStar" class="w-[7.5px] h-[15px]" src="assets/half-star.png" alt="half star">

                    </div>
                    <p class="font-light font-sans text-[15px]">Ratings</p>
                </div>


            </div>


            <div class="flex justify-start  mt-4">

                <div class="flex justify-start  gap-2 mt-4">
                    <div class="flex items-center">
                        <p class="font-light font-sans text-[15px]">Scroll down the look at the review from our
                            customer that have been enjoy our product</p>
                    </div>
                </div>
            </div>
            <div class="flex justify-start  gap-2 mt-4">
                <div class="flex items-center">

                    <p class="font-light font-sans text-[12px]">{{overAllReview.numberOfRatings}}</p>
                </div>
                <div class="flex items-center">
                    <p class="font-light font-sans text-[12px]">Reviews</p>
                </div>
            </div>
            <br>
            <div class="w-full border-b-2">

            </div>
            <ng-container *ngFor="let card of cardsForCurrentPage">
                <div class=" font-sans flex items-center md:flex items-center space-x-2 mt-6 ">
                    <div class="flex self-start justify-start">
                        <a href=""
                            class="border-2 bg-[url('assets/user.png')] bg-cover border-darkgray-300 rounded-full px-2 py-1  font-sans text-white w-[40px] h-[40px]  transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                        </a>
                    </div>

                    <div class="flex-1  flex-col">
                        <div class="flex justify-start gap-[2px]">
                            <div class="flex items-center">
                                <p class="font-light font-sans text-[15px] ">{{card.fullName}}</p>
                            </div>
                        </div>
                        <div class="flex justify-start  gap-[2px] ">
                            <ng-container *ngFor="let star of [].constructor(card.rating)">
                                <img class="w-[15px] h-[15px]" src="assets/star.png" alt="star">
                            </ng-container>
                        </div>
                        <div class="flex justify-start min-w-full gap-[2px] ">

                            <div class="w-full  flex-col mt-4 border-2 rounded p-2">
                                <p class="px-2  font-semibold font-sans text-[15px]">{{card.reviewTitle}}</p>
                                <p class="px-2  font-light font-sans text-[15px]">{{card.reviewDescription}}</p>

                            </div>

                        </div>

                    </div>
                </div>
            </ng-container>
            <div class="pagination-controls flex justify-center items-center space-x-2 my-4">
                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l"
                    (click)="goToPrevious()" [disabled]="currentPage === 1">
                    Prev
                </button>

                <button *ngFor="let page of [].constructor(totalPages); let i = index"
                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
                    (click)="goToPage(i + 1)" [class.bg-darkgray]="currentPage === i + 1">
                    {{ i + 1 }}
                </button>

                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r"
                    (click)="goToNext()" [disabled]="currentPage === totalPages">
                    Next
                </button>
            </div>

        </div>

    </div>
</div>