<div class="flex-col  mx-auto w-full  bg-darkgray">
    <div class="min-w-4xl basis-2/3  max-w-4xl mx-auto  px-5 py-10 bg-white rounded-md shadow-lg   "
        style="background-color: rgba(109, 109, 109, 0.233);">
        <h2 class="text-2xl font-semibold font-sans mb-4">Add New Product</h2>
        <form [formGroup]="productForm">

            <!-- Product Name -->
            <div class="mb-4">
                <label for="productName" class="block text-sm font-semibold mb-2">Product Name</label>
                <input type="text" formControlName="productName"
                    class="shadow-sm bg-transparent border-b-2 border-gray-300 text-sm focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                    placeholder="Enter product name">
                <div *ngIf="productForm.get('productName')?.touched && productForm.get('productName')?.invalid"
                    class="text-red-600">
                    Product name is required.
                </div>
            </div>

            <!-- Categories Dropdown -->
            <div class="mb-4">
                <label for="category" class="block text-sm font-semibold mb-2">Categories</label>
                <select formControlName="category"
                    class="shadow-sm border-b-2 text-sm focus:ring-green-500 bg-darkgray focus:border-green-500 block w-full p-2.5">
                    <option value="">Select a category</option>
                    <option value="Shopping">Shopping</option>
                    <option value="Attraction">Attraction</option>
                    <option value="Accommodation">Accommodation</option>
                    <option value="Event">Event&Exhibitions</option>
                    <option value="Tour">Tour</option>
                </select>
                <div *ngIf="productForm.get('category')?.touched && productForm.get('category')?.invalid"
                    class="text-red-600">
                    Please select a category.
                </div>
            </div>

            <!-- Price -->
            <div class="mb-4">
                <label for="price" class="block text-sm font-semibold mb-2">Price</label>
                <input type="text" formControlName="price"
                    class="shadow-sm bg-transparent border-b-2 text-sm focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                    placeholder="Enter price">
                <div *ngIf="productForm.get('price')?.touched && productForm.get('price')?.invalid"
                    class="text-red-600">
                    <div *ngIf="productForm.get('price')?.errors?.['required']">Price is required.</div>
                    <div *ngIf="productForm.get('price')?.errors?.['pattern']">Invalid price format.</div>
                </div>
            </div>

            <!-- Product Description -->
            <div class="mb-4">
                <label for="productDescription" class="block text-sm font-semibold mb-2">Product Description</label>
                <textarea formControlName="productDescription"
                    class="shadow-sm bg-transparent border-b-2 border-gray-300 text-sm focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                    rows="4" placeholder="Enter product description"></textarea>
                <div *ngIf="productForm.get('productDescription')?.touched && productForm.get('productDescription')?.invalid"
                    class="text-red-600">
                    Product description is required.
                </div>
            </div>

            <div class="mb-4">
                <label for="file" class="block text-sm font-semibold mb-2">Product Image</label>
                <input type="file" formControlName="file" (change)="onFileSelected($event)" />
            </div>

            <!-- Submit Button -->
            <div class="flex justify-end">
                <button (click)="openModal()"
                    class="bg-darkgreen text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-blue-300">
                    Submit
                </button>
            </div>

        </form>


    </div>
    <div *ngIf="showModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
        <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
            <div class="mt-3 text-center">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Confirm Product Update</h3>
                <div class="mt-2 px-7 py-3">
                    <p class="text-sm text-gray-500">Are you sure you want to add a product with the following
                        details?</p>
                    <ul class="text-sm text-gray-500 list-disc list-inside">
                        <li>Product Name : {{ productForm.value.productName }}</li>
                        <li>Category : {{ productForm.value.category }}</li>
                        <li>Price : {{ productForm.value.price }}</li>
                        <li>Description : {{ productForm.value.productDescription }}</li>
                    </ul>
                </div>
                <div class="flex items-center justify-center space-x-4 py-3">
                    <button (click)="saveData() ; closeModal() ; openAlert()"
                        class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring focus:ring-green-300">
                        Confirm
                    </button>
                    <button (click)="closeModal()"
                        class="px-4 py-2 bg-red-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-red-700 focus:outline-none focus:ring focus:ring-red-300">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showAlert" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full ">
        <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
            <div class="mt-3 text-center">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Add Product Success</h3>
                <div class="mt-2 px-7 py-3">
                    <p class="text-sm text-gray-500">The product has been created
                    </p>
                </div>
                <div class="items-center px-4 py-3">
                    <button routerLink="/Product-Manage" (click)="closeAlert()"
                        class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-700 focus:outline-none focus:ring focus:ring-green-300">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>