<section class=" mx-auto text-white z-0 bg-black ">
    <form class="max-w-6xl mx-auto pt-[3.5rem] pb-8 bg-darkgray">
        <div class="min-w-4xl max-w-4xl mx-auto  px-5 py-10 bg-white rounded-md shadow-lg border-2 mt-8 "
            style="background-color: rgba(109, 109, 109, 0.233);">
            <h2 class="text-xl font-semibold font-sans mb-4">Contact Details</h2>

            <div class="mb-4">
                <label for="merchantName" class="block  text-sm font-semibold mb-2">Full
                    Name</label>
                <input type="text" id="fullName" name="fullName" required
                    class="shadow-sm bg-transparent border-b-2 border-gray-300  text-sm  focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                    placeholder="Enter full name">
            </div>

            <div class="mb-4">
                <label for="contactNumber" class="block  text-sm font-semibold mb-2">Contact
                    Number</label>
                <input type="tel" id="contactNumber" name="contactNumber" required
                    class="shadow-sm  bg-transparent border-b-2 text-sm  focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                    placeholder="Enter contact number">
            </div>

            <div class="mb-4">
                <label for="emailAddress" class="block  text-sm font-semibold mb-2">Email
                    Address</label>
                <input type="email" id="emailAddress" name="emailAddress" required
                    class="shadow-sm bg-transparent border-b-2 border-gray-300 text-sm  focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                    placeholder="Enter email address">
            </div>

        </div>
        <div class="min-w-4xl max-w-4xl mx-auto  px-5 py-10 bg-white rounded-md shadow-lg border-2 mt-8 "
            style="background-color: rgba(109, 109, 109, 0.233);">
            <h2 class="text-xl font-semibold font-sans mb-4">Special Request</h2>

            <div class="mb-4">
                <label for="companyDescription" class="block  text-sm font-semibold mb-2">Company
                    Description</label>
                <textarea id="companyDescription" name="companyDescription"
                    class="shadow-sm bg-transparent border-b-2 border-gray-300 text-sm  focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                    rows="4" placeholder="Optional"></textarea>
            </div>

            <div class="flex justify-end">
                <button routerLink="/Payment" type="submit"
                    class="bg-darkgreen text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-blue-300">
                    Submit
                </button>
            </div>

        </div>
    </form>
</section>