<section class=" mx-auto text-white z-0 bg-cover " style="background-image: url(assets/abstract-envelope.svg)   ;">
    <div class=" max-w-6xl mx-auto divide-x pt-[3.5rem] ">
        <div class="hidden md:flex justify-between">
            <div class="flex">
                <div class="relative group py-2 ">
                    <a href="#"
                        class="font-semibold 0 px-3 py-2 transition duration-300 ease-in-out  hover:text-lightgray">Attraction</a>
                </div>
                <p class="text-lightgray py-2">|</p>
                <div class="relative group py-2 ">
                    <a href="#"
                        class="font-semibold  px-3 py-2 transition duration-300 ease-in-out  hover:text-lightgray">Accomodation</a>

                </div>
                <p class="text-lightgray py-2">|</p>
                <div class="relative group py-2 ">
                    <a href="#"
                        class="font-semibold  px-3 py-2 transition duration-300 ease-in-out  hover:text-lightgray">Tour</a>

                </div>
                <p class="text-lightgray py-2">|</p>
                <div class="relative group py-2 ">
                    <a href="#"
                        class="font-semibold px-3 py-2 transition duration-300 ease-in-out  hover:text-lightgray">Event
                        & Exhibitions</a>

                </div>
            </div>
        </div>
    </div>
    <div class="max-w-6xl flex flex-row min-h-[70vh] mx-auto  justify-between items-center mt-4 ">
        <div class="flex-col border-2 border-transparent max-w-lg">
            <h1 class=" font-sans font-bold text-3xl mt-4 ">LOOK AROUND THE TOURISM IN MALAYSIA</h1>
            <p>With in our jorney to provide you a really helpfull system to get your vacation from
                anywhere and
                everywhere easlly</p>
            <div class=" font-sans flex items-center md:flex items-center space-x-5">
                <a href=""
                    class="border-2 mt-5 border-darkgray-300 rounded font-bold text-darkgray-300 px-3 py-1 transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                    Login</a>
            </div>
        </div>
        <div class="relative max-w-[50%]  flex rounded  grid grid-cols-6 ">
            <div class="col-start-1 col-span-4 ">

                <img class=" w-full h-full " src="https://source.unsplash.com/1000x600?malaysia" alt="">
            </div>
            <div class="col-start-3 col-end-7 ">
                <img class=" w-full h-full " src="https://source.unsplash.com/1000x600?malaysia" alt="">
            </div>

        </div>
    </div>
</section>
<section class="flex flex-col mx-auto bg-black text-white max-h-[40rem] z-0  px-10 py-10">
    <div class="max-w-6xl mx-auto">

        <h1 class="text-xl font-semibold">Top Destinations</h1>
        <div class="relative max-w-6xl mx-auto overflow-x-hidden min-h-fit mt-10">
            <div class="flex transition-transform duration-500"
                [style.transform]="'translateX(-' + promoSlideIndex * (100) + '%)'">
                <ng-container *ngFor="let images of promo">
                    <div class="flex-none w-[100%] p-4">
                        <div class="mx-auto max-w-4xl rounded overflow-hidden shadow-lg h-[24rem]">
                            <a href="">

                                <img class="w-full" [src]="images.image">
                            </a>
                        </div>
                    </div>
                </ng-container>
            </div>

            <button (click)="prevSlidePromo()"
                class="absolute top-1/2 left-0 -translate-y-1/2 bg-transparent hover:bg-gray-200 text-black rounded-full w-[50px] h-[50px] flex items-center justify-center text-lg">
                <img class="w-8 h-8" src="assets/prev.png" alt="">
            </button>
            <button (click)="nextSlidePromo()"
                class="absolute top-1/2 right-0 -translate-y-1/2 bg-transparent hover:bg-gray-200 text-black rounded-full w-[50px] h-[50px] flex items-center justify-center text-lg">
                <img class="w-8 h-8" src="assets/next.png" alt="">
            </button>
        </div>


    </div>
</section>
<section class="flex-col z-0 mx-auto bg-black text-white  max-h-[40rem] px-10 py-10">
    <div class="max-w-6xl mx-auto">
        <div>
            <h1 class="text-xl font-semibold">Top Trending Products</h1>
        </div>

        <div class="relative max-w-6xl mx-auto overflow-hidden text-black min-h-fit backdrop-blur rounded"
            style="background-color: rgba(240, 248, 255, 0.233);">
            <div class="flex transition-transform duration-500 "
                [style.transform]="'translateX(-' + activeSlideIndex * (100 / 3) + '%)'">
                <ng-container *ngFor="let card of cards">
                    <div class="flex-none w-1/3 p-2 ">
                        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-lightgray">
                            <img class="w-full" [src]="card.image" [alt]="card.title">
                            <div class="px-6 py-4">
                                <div class="font-bold text-xl mb-2">{{ card.title }}</div>
                                <p class="text-gray-700 text-base">{{ card.content }}</p>
                            </div>
                            <div class="px-6 pt-4 pb-2">
                                <span *ngFor="let tag of card.tags"
                                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{
                                    tag }}</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <button (click)="prevSlide()"
                class="absolute top-1/2 left-0 -translate-y-1/2 bg-transparent hover:bg-gray-200 text-black rounded-full w-[50px] h-[50px] flex items-center justify-center text-lg">
                <img class="w-8 h-8" src="assets/prev.png" alt="">
            </button>
            <button (click)="nextSlide()"
                class="absolute top-1/2 right-0 -translate-y-1/2 bg-transparent hover:bg-gray-200 text-black rounded-full w-[50px] h-[50px] flex items-center justify-center text-lg">
                <img class="w-8 h-8" src="assets/next.png" alt="">
            </button>
        </div>
    </div>
</section>
<section class="flex-col mx-auto bg-black text-white max-h-[40rem] px-10 py-10 z-0">
    <div class="max-w-6xl mx-auto   ">
        <h1 class="text-xl font-semibold">Popular Attractions</h1>
        <!-- Carousel container -->
        <div class="relative max-w-6xl mx-auto overflow-hidden min-h-fit backdrop-blur rounded"
            style="background-color: rgba(240, 248, 255, 0.233);">
            <div class="flex transition-transform duration-500"
                [style.transform]="'translateX(-' + popularSlideIndex * (100 / 3) + '%)'">
                <ng-container *ngFor="let pop of popular">
                    <div class="flex-none w-1/3 p-2 text-black">
                        <div class="max-w-sm rounded overflow-hidden bg-lightgray shadow-lg">
                            <img class="w-full" [src]="pop.image" [alt]="pop.title">
                            <div class="px-6 py-4">
                                <div class="font-bold text-xl mb-2">{{ pop.title }}</div>
                                <p class="text-gray-700 text-base">{{ pop.content }}</p>
                            </div>
                            <div class="px-6 pt-4 pb-2">
                                <span *ngFor="let tag of pop.tags"
                                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{
                                    tag }}</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <button (click)="prevSlidePop()"
                class="absolute top-1/2 left-0 -translate-y-1/2 bg-transparent hover:bg-gray-200 text-black rounded-full w-[50px] h-[50px] flex items-center justify-center text-lg">
                <img class="w-8 h-8" src="assets/prev.png" alt="">
            </button>
            <button (click)="nextSlidePop()"
                class="absolute top-1/2 right-0 -translate-y-1/2 bg-transparent hover:bg-gray-200 text-black rounded-full w-[50px] h-[50px] flex items-center justify-center text-lg">
                <img class="w-8 h-8" src="assets/next.png" alt="">
            </button>
        </div>
    </div>
</section>