<div *ngIf="merchant" class="flex flex-col mx-auto min-w-full gap-3 mx-auto side:justify-self-center items-center ">
    <div class="w-full flex-row mx-auto  gap-6 ">
        <div class="flex flex-col  justify-start px-4 py-4 backdrop-blur rounded"
            style="background-color: rgba(126, 126, 126, 0.282);">
            <div class="flex justify-start   ">
                <h1 class=" font-sans font-bold text-5xl mt-4 ">{{merchant.name}}</h1>
            </div>
            <div class="flex justify-start  gap-2 mt-6">
                <div class="flex items-center">
                    <p class="font-light font-sans text-[15px]">{{merchant.companyDescription}}</p>
                </div>
            </div>
            <div class="flex justify-start  gap-2 mt-6">
                <div class="flex items-center">

                    <img class="w-[15px] h-[15px]" src="assets/whitemap.png" alt="">
                </div>
                <div class="flex items-center">
                    <h1 class=" font-sans text-[15px] ">Email :</h1>
                </div>
                <div class="flex items-center">
                    <p class="font-light font-sans text-[12px]">{{ merchant.email }}</p>
                </div>
            </div>

            <div class="flex justify-start  gap-2 mt-2">
                <div class="flex items-center">

                    <img class="w-[15px] h-[15px]" src="assets/whitemap.png" alt="">
                </div>
                <div class="flex items-center">
                    <h1 class=" font-sans text-[15px] ">Contact :</h1>
                </div>
                <div class="flex items-center">
                    <p class="font-light font-sans text-[12px]">{{merchant.contactNumber}}</p>
                </div>
            </div>

        </div>


    </div>
    <div class="max-w-6xl w-full flex-col mx-auto mt-6 gap-6 ">
        <div class="flex  max-h-fit backdrop-blur rounded" style="background-color: rgba(126, 126, 126, 0.282);">

            <div class="flex flex-col justify-start basis-4/6 px-4 py-4">
                <div class="flex justify-start">
                    <h1 class=" font-sans font-bold text-xl mt-4 ">Document</h1>
                </div>
                <div class="flex justify-start mt-4">
                    <h1 class=" font-sans text-[15px] ">Description :</h1>
                </div>
                <div class="flex justify-start  gap-2 mt-2">
                    <div class="flex items-center">
                        <p class="font-light font-sans text-[15px]">{{merchant.fileDescription}} </p>
                    </div>
                </div>
                <div class="flex justify-start  gap-2 mt-2">
                    <div class="flex items-center">
                        <p class="font-light font-sans text-[15px]">{{merchant.fileName}} </p>
                    </div>
                </div>
                <div class="flex justify-start  gap-2 mt-2">
                    <div *ngIf="imageData" class="flex items-center">

                        <img [src]="imageData" alt="Image">

                    </div>
                </div>
                <div class="flex justify-start  gap-2 mt-6">
                    <div class="flex items-center">

                        <img class="w-[15px] h-[15px]" src="assets/whitemap.png" alt="">
                    </div>

                    <div class="flex items-center">
                        <a (click)="downloadFile()">
                            <p class="font-light font-sans text-[12px] hover:text-blue-500">Download</p>
                        </a>
                    </div>

                </div>

            </div>
        </div>
        <div class=" flex max-h-fit backdrop-blur rounded pb-4" style="background-color: rgba(126, 126, 126, 0.282);">
            <div class="flex flex-row justify-between w-full px-4 py-4">
                <div class="flex justify-start">
                    <button (click)="approveMerchant(merchant._id, merchant.email, merchant.name)" type="submit"
                        class="bg-green-500 text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-blue-300">
                        Approve
                    </button>
                </div>
                <div class="flex justify-end">
                    <button (click)="openConfirmModal()"
                        class="bg-red-500 text-white px-6 py-2 rounded-md hover:bg-red-700 focus:outline-none focus:ring focus:ring-blue-300">
                        Decline
                    </button>
                </div>


            </div>

        </div>
        <div *ngIf="showModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full ">
            <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
                <div class="mt-3 text-center">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">Approve Merhchant Success</h3>
                    <div class="mt-2 px-7 py-3">
                        <p class="text-sm text-gray-500">An email will be sent to the merchant about the login method
                        </p>
                    </div>
                    <div class="items-center px-4 py-3">
                        <button routerLink="/Officer" (click)="closeModal()"
                            class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-700 focus:outline-none focus:ring focus:ring-green-300">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="confirmModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full ">
            <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
                <div class="mt-3 text-center">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">Are you sure to reject this merchant?</h3>
                    <div class="justify-between px-4 py-3">
                        <button (click)="closeConfirmModal()"
                            class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-700 focus:outline-none focus:ring focus:ring-green-300">
                            Cancel
                        </button>
                        <button (click)="rejectMerchant(merchant._id)"
                            class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-700 focus:outline-none focus:ring focus:ring-green-300">
                            Continue Reject
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="rejectModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full ">
            <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
                <div class="mt-3 text-center">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">Merhchant has been rejected</h3>
                    <div class="mt-2 px-7 py-3">
                        <p class="text-sm text-gray-500">This merchant wont be able to registered the same email anymore
                        </p>
                    </div>
                    <div class="items-center px-4 py-3">
                        <button routerLink="/Officer" (click)="closeRejectModal()"
                            class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-700 focus:outline-none focus:ring focus:ring-green-300">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>