<body>
    <nav [ngClass]="navbarClass" class=" flex text-white fixed left-0 right-0 mx-auto z-10">
        <div class="w-full border-b border-white shadow-lg mx-auto border-b-2">
            <div class=" max-w-6xl mx-auto flex justify-between ">
                <div class="flex space-x-5 ">
                    <div>
                        <!-- Website Logo -->
                        <a href="#" class="flex items-center py-4 px-2">
                            <img src="assets/white_logo.png" alt="Logo" class="h-6 w-20 " />
                        </a>
                    </div>
                </div>
                <!-- Primary Navbar items -->
                <div class="flex space-x-5 px-20">
                    <div class="font-medium hidden md:flex items-center space-x-10 ">
                        <a *ngIf="userType === null || userType === 'customer'" routerLink="landing-page"
                            class="py-4 px-2 text-0D0D0D hover:text-lightgray transition duration-300 ">Home</a>
                        <a *ngIf="userType === null || userType === 'customer'" (click)="scrollToSection('footer')"
                            class="py-4 px-2 text-0D0D0D hover:text-lightgray transition duration-300 cursor-pointer">About</a>
                        <a *ngIf="userType === null || userType === 'customer'" (click)="scrollToSection('service')"
                            class="py-4 px-2 text-0D0D0D hover:text-lightgray transition duration-300 cursor-pointer">Services</a>
                        <a *ngIf="userType === null || userType === 'customer'" routerLink="/Product"
                            class="py-4 px-2 text-0D0D0D hover:text-lightgray transition duration-300">Product</a>
                        <a *ngIf="userType === null || userType === 'merchant'" routerLink="/Merchants"
                            class="py-4 px-2 text-0D0D0D hover:text-lightgray transition duration-300">Merchants</a>
                        <a *ngIf="userType === null" (click)="openOfficerModal()"
                            class="py-4 px-2 text-0D0D0D hover:text-lightgray transition duration-300 cursor-pointer">Officer</a>
                    </div>
                </div>
                <div *ngIf="!loggedIn" class="flex space-x-5">
                    <div class="font-sans  flex md:flex items-center space-x-5">
                        <a (click)="openModal()"
                            class="border-2 border-darkgray-300 rounded-full font-bold text-darkgray-300 px-3 py-1 transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray cursor-pointer">
                            Login</a>
                    </div>
                </div>

                <div *ngIf="loggedIn && userType && userType === 'customer'" class="flex space-x-5 py-2 ">
                    <div class="font-sans flex md:flex items-center space-x-5">
                        <a class="border-2 w-[40px] h-[40px] border-darkgray-300 rounded-full font-bold text-darkgray-300 px-3 py-1 transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray cursor-pointer"
                            style="background-image: url('assets/user.png'); background-size: cover;"
                            (click)="toggleDropdown()">

                            <div *ngIf="showDropdown" class="absolute bg-white shadow-lg p-2 min-w-[200px] mt-11">
                                <a (click)="navigateToReceipt()"
                                    class="block px-3 py-2 text-darkgray hover:bg-darkgray hover:text-lightgray">Order</a>
                                <a (click)="logout()"
                                    class="block px-3 py-2 text-darkgray hover:bg-darkgray hover:text-lightgray">Logout</a>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Mobile menu button -->
                <div class="md:hidden flex items-center">
                    <button class="outline-none mobile-menu-button" (click)="toggleMenu()">
                        <img class="w-[30px] h-[30px] mr-4" src="assets/menu.png" alt="Menu">
                    </button>
                </div>
            </div>
        </div>
        <!-- Mobile menu (hidden on larger screens) -->
    </nav>
    <!-- Mobile Menu -->
    <div *ngIf="isMenuVisible" class="fixed flex w-full z-20 flex-col bg-gray-400 items-start space-y-2  py-2">
        <div class="flex justify-between w-full ">
            <a *ngIf="userType === null || userType === 'customer'" routerLink="landing-page"
                class="justify-start pt-2 pb-1 px-6 text-0D0D0D hover:text-lightgray transition duration-300">Home</a>
            <button *ngIf="userType === null || userType === 'customer'"
                class="justify-end pt-1 outline-none mobile-menu-button" (click)="toggleMenu()">
                <img class="w-[30px] h-[30px] mr-4" src="assets/menu.png" alt="Menu">
            </button>
        </div>
        <a *ngIf="userType === null || userType === 'customer'" (click)="scrollToSection('footer')"
            class=" py-1 px-6 text-0D0D0D hover:text-lightgray transition duration-300 cursor-pointer">About</a>
        <a *ngIf="userType === null || userType === 'customer'" (click)="scrollToSection('service')"
            class="py-1 px-6 text-0D0D0D hover:text-lightgray transition duration-300 cursor-pointer">Services</a>
        <a *ngIf="userType === null || userType === 'customer'" routerLink="/Product"
            class="py-1 px-6 text-0D0D0D hover:text-lightgray transition duration-300">Product</a>
        <div class="flex justify-between  w-full ">
            <a *ngIf="userType === null || userType === 'merchant'" routerLink="/Merchants"
                class="py-1 px-6 text-0D0D0D hover:text-lightgray transition duration-300">Merchants</a>
            <button *ngIf="userType === 'merchant'" class="justify-end top-0 outline-none mobile-menu-button"
                (click)="toggleMenu()">
                <img class="w-[30px] h-[30px] mr-4" src="assets/menu.png" alt="Menu">
            </button>
        </div>
        <div class="flex justify-between  w-full ">
            <a *ngIf="userType === null || userType === 'officer'" (click)="openOfficerModal()"
                class="py-1 px-6 text-0D0D0D hover:text-lightgray transition duration-300 cursor-pointer">Officer</a>
            <button *ngIf="userType === 'officer'" class="justify-end top-0 outline-none mobile-menu-button"
                (click)="toggleMenu()">
                <img class="w-[30px] h-[30px] mr-4" src="assets/menu.png" alt="Menu">
            </button>
        </div>

    </div>
    <div *ngIf="showModal" class="fixed z-10  inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
        <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-darkgray">
            <div class="mt-3 text-center">
                <h3 class="text-2xl text-white font-semibold font-sans mb-4">Login to Your Account</h3>

                <!-- Login Form -->
                <form [formGroup]="loginForm" class="mt-8">
                    <div class="mb-4 text-left">
                        <label for="email" class="block text-sm text-white font-semibold mb-2">Email</label>
                        <input type="email" id="email" formControlName="email"
                            class="shadow-sm bg-transparent border-b-2 text-white border-gray-300 text-sm focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                            placeholder="Enter your email">
                        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
                            class="text-yellow-600">
                            <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                            <div *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email.</div>

                        </div>
                    </div>

                    <div class="mb-4 text-left">
                        <label for="password" class="block text-sm text-white font-semibold mb-2">Password</label>
                        <input type="password" id="password" formControlName="password"
                            class="shadow-sm bg-transparent border-b-2 text-white border-gray-300 text-sm focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                            placeholder="Enter your password">
                    </div>

                    <div class="flex items-center justify-center space-x-4 py-3">
                        <button [disabled]="loginForm.invalid" (click)="login() ; closeModal()"
                            class="bg-darkgreen text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-blue-300">
                            Login
                        </button>
                    </div>
                </form>

                <!-- Sign Up Link -->
                <div class="mt-2 px-7 py-3 text-sm text-gray-500">
                    Don't have an account? <a (click)="closeModalToRegister()"
                        class="text-blue-600 hover:text-blue-800">Sign
                        up</a>
                </div>

                <!-- Close Modal Button -->
                <div class="flex items-center justify-center space-x-4 py-3">
                    <button (click)="closeModal()"
                        class="bg-green-500 text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-green-300">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Officer Login Form -->
    <div *ngIf="officerModal" class="fixed z-10  inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
        <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-darkgray">
            <div class="mt-3 text-center">
                <h3 class="text-2xl text-white font-semibold font-sans mb-4">Officer Login</h3>

                <!-- Login Form -->
                <form [formGroup]="loginOfficerForm" class="mt-8">
                    <div class="mb-4 text-left">
                        <label for="username" class="block text-sm text-white font-semibold mb-2">Username</label>
                        <input type="username" id="username" formControlName="username"
                            class="shadow-sm bg-transparent border-b-2 text-white border-gray-300 text-sm focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                            placeholder="Enter your username">
                        <div *ngIf="loginOfficerForm.get('username')?.touched && loginOfficerForm.get('username')?.invalid"
                            class="text-yellow-600">
                            <div *ngIf="loginOfficerForm.get('username')?.errors?.['required']">Username is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-4 text-left">
                        <label for="password" class="block text-sm text-white font-semibold mb-2">Password</label>
                        <input type="password" id="password" formControlName="password"
                            class="shadow-sm bg-transparent border-b-2 text-white border-gray-300 text-sm focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                            placeholder="Enter your password">

                        <div *ngIf="loginOfficerForm.get('password')?.touched && loginOfficerForm.get('password')?.invalid"
                            class="text-yellow-600">
                            <div *ngIf="loginOfficerForm.get('password')?.errors?.['required']">Password is required.
                            </div>
                        </div>
                    </div>

                    <div class="flex items-center justify-center space-x-4 py-3">
                        <button [disabled]="loginOfficerForm.invalid" (click)="loginOfficer() ; closeOfficerModal()"
                            class="bg-darkgreen text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-blue-300">
                            Login
                        </button>
                    </div>
                </form>


                <!-- Close Modal Button -->
                <div class="flex items-center justify-center space-x-4 py-3">
                    <button (click)="closeOfficerModal()"
                        class="bg-green-500 text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-green-300">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="loginAlert" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full ">
        <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
            <div class="mt-3 text-center">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Login Failed</h3>
                <div class="mt-2 px-7 py-3">
                    <p class="text-sm text-gray-500">Your password or email is not match
                    </p>
                </div>
                <div class="items-center px-4 py-3">
                    <button (click)="closeLoginAlert(); showModal = true"
                        class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-700 focus:outline-none focus:ring focus:ring-green-300">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loginAlert2" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full ">
        <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
            <div class="mt-3 text-center">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Login Failed</h3>
                <div class="mt-2 px-7 py-3">
                    <p class="text-sm text-gray-500">Your password or username is not match
                    </p>
                </div>
                <div class="items-center px-4 py-3">
                    <button (click)="closeLoginAlert2(); officerModal = true"
                        class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-green-700 focus:outline-none focus:ring focus:ring-green-300">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    <router-outlet></router-outlet>
    <section class=" mx-auto text-white z-0 bg-cover bg-black ">
        <div id="service" class="max-w-6xl flex flex-row min-h-[70vh] mx-auto justify-between items-center border-b-2 ">
            <div class="side:pl-10 flex-col border-2 border-transparent max-w-lg">
                <div class="flex justify-start  mx-auto ">
                    <h1 class=" font-sans font-bold text-3xl mt-4 ">Why</h1>
                    <a href="" class="flex items-center py-1 px-2">
                        <img class="w-25 h-9" src=" assets/white_logo.png" alt="">
                    </a>
                    <h1 class=" font-sans font-bold text-3xl mt-4 ">?</h1>
                </div>
                <p>With in our jorney to provide you a really helpfull system to get your vacation from
                    anywhere and
                    everywhere easlly</p>

            </div>
            <div class="hidden md:relative z-0 md:max-w-[50%]  md:flex md:rounded  md:grid md:grid-cols-6 ">
                <div class="col-start-1 col-span-4 ">

                    <img class="z-0 w-full h-full " src="https://source.unsplash.com/1000x600?malaysia" alt="">
                </div>
                <div class="col-start-3 col-end-7 ">
                    <img class="z-0 w-full h-full " src="https://source.unsplash.com/1000x600?malaysia" alt="">
                </div>

            </div>
        </div>
    </section>
    <section class="side:pl-10 side:pb-10 mx-auto text-white z-0 bg-cover bg-black">
        <div class="max-w-6xl flex  flex-col md:flex-row min-h-[70vh] mx-auto  pt-10 ">
            <div class=" flex flex-col max-w-4xl  w-full">
                <div class="flex justify-start ">
                    <h1 class=" font-sans font-bold text-3xl mt-4 ">Feed Back</h1>
                </div>
                <div class="flex justify-start mx-auto w-full py-10  rounded-md  ">
                    <form class="w-[80%]">
                        <div class="mb-4">
                            <label for="merchantName" class="block  text-sm font-semibold mb-2">Merchant
                                Name</label>
                            <input type="text" id="merchantName" name="merchantName" required
                                class="shadow-sm bg-transparent border-b-2 border-gray-300  text-sm  focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                                placeholder="Enter merchant name">
                        </div>

                        <div class="mb-4">
                            <label for="contactNumber" class="block  text-sm font-semibold mb-2">Contact
                                Number</label>
                            <input type="tel" id="contactNumber" name="contactNumber" required
                                class="shadow-sm  bg-transparent border-b-2 text-gray-900 text-sm  focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                                placeholder="Enter contact number">
                        </div>

                        <div class="mb-4">
                            <label for="emailAddress" class="block  text-sm font-semibold mb-2">Email
                                Address</label>
                            <input type="email" id="emailAddress" name="emailAddress" required
                                class="shadow-sm bg-transparent border-b-2 border-gray-300 text-gray-900 text-sm  focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                                placeholder="Enter email address">
                        </div>

                        <div class="mb-4">
                            <label for="companyDescription" class="block  text-sm font-semibold mb-2">Company
                                Description</label>
                            <textarea id="companyDescription" name="companyDescription" required
                                class="shadow-sm bg-transparent border-b-2 border-gray-300 text-gray-900 text-sm  focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
                                rows="4" placeholder="Enter company description"></textarea>
                        </div>
                        <div class="flex justify-start mt-10">
                            <button type="submit"
                                class="bg-darkgreen text-white px-6 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-blue-300">
                                Submit
                            </button>
                        </div>


                    </form>
                </div>
            </div>
            <div class="flex-col  min-w-sm md:pt-[8.5rem] justify-self-start ">
                <div class="flex justify-start gap-2 mx-auto ">
                    <h1 class=" font-sans text-white text-sm mt-4 ">+6281337531477</h1>
                    <div class=" font-sans flex items-center md:flex items-center space-x-5">
                        <a href=""
                            class="border-2 mt-3.5 border-darkgray-300 rounded-full font-sans text-white text-[10px]  px-5  transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                            call</a>
                    </div>
                </div>
                <div class="flex justify-start gap-2 mx-auto ">
                    <h1 class=" font-sans text-white text-sm mt-4 ">+6281337531477</h1>
                    <div class=" font-sans flex items-center md:flex items-center space-x-5">
                        <a href=""
                            class="border-2 mt-3.5 border-darkgray-300 rounded-full font-sans text-white text-[10px]  px-5  transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                            call</a>
                    </div>
                </div>
                <div class="flex justify-start gap-2 mx-auto mt-10">
                    <h1 class=" font-sans text-white text-sm mt-4 ">tourtigercompany&#64;gmail.com</h1>
                </div>
                <div class="flex justify-start gap-2 mx-auto mt-10">
                    <h1 class=" font-sans text-white text-sm mt-4 ">Denpasar-Gilimanuk Street, Kapal, Mengwi, Badung,
                        Bali</h1>
                </div>

            </div>
        </div>
    </section>
</body>
<footer id="footer" class=" flex-col  mx-auto md:min-h-[2000px] lg:min-h-[400px] border-2 ">
    <img src="assets/blacklogo.png" alt="logo" class="h-12 w-40 mx-auto mt-20">
    <div>
        <p class="max-w-sm text-center mx-auto mt-10">Discover the thrill of adventure with TourTiger. Embark on
            journeys that tread lightly but leave deep impressions. Connect with us on social media, and let's make your
            next travel experience unforgettable.
        </p>
        <div class="flex flex-row max-w-fit mx-auto mt-10 gap-6">
            <img src="assets/twitter.png" alt="" class="w-6 h-6">
            <img src="assets/instagram.png" alt="" class="w-6 h-6">
            <img src="assets/facebook.png" alt="" class="w-6 h-6">
        </div>
        <p class="max-w-fit mx-auto mt-10 text-sm font-sans font-light text-slate-400">Copyright © 2023. TourTiger. All
            rights
            reserved.</p>
    </div>
</footer>