<nav class="bg-CEF2F2 shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
            <div class="flex space-x-5">
                <div>
                    <!-- Website Logo -->
                    <a href="#" class="flex items-center py-4 px-2">
                        <img src="assets/blacklogo.png" alt="Logo" class="h-6 w-20 " />

                    </a>
                </div>
                <!-- Primary Navbar items -->


            </div>
            <div class="flex space-x-5">
                <div class="hidden md:flex items-center space-x-10 ">
                    <a href="#"
                        class="py-4 px-2 text-0D0D0D font-semibold hover:text-lightgray transition duration-300 ">Home</a>
                    <a href="#"
                        class="py-4 px-2 text-0D0D0D font-semibold hover:text-lightgray transition duration-300">About</a>
                    <a href="#"
                        class="py-4 px-2 text-0D0D0D font-semibold hover:text-lightgray transition duration-300">Services</a>
                    <a href="#"
                        class="py-4 px-2 text-0D0D0D font-semibold hover:text-lightgray transition duration-300">Product</a>
                    <a href="#"
                        class="py-4 px-2 text-0D0D0D font-semibold hover:text-lightgray transition duration-300">Merchants</a>

                </div>
            </div>
            <div class="flex space-x-5">
                <div class="hidden md:flex items-center space-x-5">
                    <a href=""
                        class="border-2 border-darkgray-300 rounded-full font-bold text-darkgray-300 px-3 py-1 transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                        Login</a>
                </div>
            </div>
            <!-- Mobile menu button -->
            <div class="md:hidden flex items-center">
                <button class="outline-none mobile-menu-button">
                    <!-- Menu icon -->
                </button>
            </div>
        </div>
    </div>
    <!-- Mobile menu (hidden on larger screens) -->
</nav>