<body>
    <nav class=" flex text-white fixed left-0 right-0 mx-auto ">
        <div class="w-full border-b border-white shadow-lg mx-auto">
            <div class=" max-w-6xl mx-auto flex justify-between ">
                <div class="flex space-x-5 ">
                    <div>
                        <!-- Website Logo -->
                        <a href="#" class="flex items-center py-4 px-2">
                            <img src="assets/white_logo.png" alt="Logo" class="h-6 w-20 " />
                        </a>
                    </div>
                </div>
                <!-- Primary Navbar items -->
                <div class="flex space-x-5 px-20">
                    <div class="font-medium hidden md:flex items-center space-x-10 ">
                        <a routerLink="/home"
                            class="py-4 px-2 text-0D0D0D hover:text-lightgray transition duration-300 ">Home</a>
                        <a href="#" class="py-4 px-2 text-0D0D0D hover:text-lightgray transition duration-300">About</a>
                        <a href="#"
                            class="py-4 px-2 text-0D0D0D hover:text-lightgray transition duration-300">Services</a>
                        <a routerLink="/home/Product"
                            class="py-4 px-2 text-0D0D0D hover:text-lightgray transition duration-300">Product</a>
                        <a routerLink="/home/Merchants"
                            class="py-4 px-2 text-0D0D0D hover:text-lightgray transition duration-300">Merchants</a>
                    </div>
                </div>
                <div class="flex space-x-5">
                    <div class="font-sans  flex md:flex items-center space-x-5">
                        <a href=""
                            class="border-2 border-darkgray-300 rounded-full font-bold text-darkgray-300 px-3 py-1 transition duration-300 ease-in-out hover:bg-darkgray-300 hover:text-lightgray ">
                            Login</a>
                    </div>
                </div>
                <!-- Mobile menu button -->
                <div class="md:hidden flex items-center">
                    <button class="outline-none mobile-menu-button">
                        <p>a</p>
                    </button>
                </div>
            </div>
        </div>
        <!-- Mobile menu (hidden on larger screens) -->
    </nav>
    <router-outlet></router-outlet>
</body>
<footer class=" flex-col  mx-auto md:min-h-[2000px] lg:min-h-[400px] border-2 ">
    <img src="assets/blacklogo.png" alt="logo" class="h-12 w-40 mx-auto mt-20">
    <div>
        <p class="max-w-sm text-center mx-auto mt-10">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt
            repellendus aut placeat cupiditate neque ex?
        </p>
        <div class="flex flex-row max-w-fit mx-auto mt-10 gap-6">
            <img src="assets/twitter.png" alt="" class="w-6 h-6">
            <img src="assets/instagram.png" alt="" class="w-6 h-6">
            <img src="assets/facebook.png" alt="" class="w-6 h-6">
        </div>
        <p class="max-w-fit mx-auto mt-10 text-sm font-sans font-light text-slate-400">Copyright © 2023. TourTiger. All
            rights
            reserved.</p>
    </div>
</footer>